button, div, form, input {
	margin: 5px;
}

img {
	max-width: 400px;
	max-height: 400px;
}

label {
    color: #fff;
}

.btn-default {
    color: rgb(150, 14, 77);
    font-size:medium;
    font-style: oblique;
}

body {
  
	font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    background-size: cover;
}

.holder {
    float: left;
}

.jumbotron {
    text-align: center;
    color: rgb(129, 9, 69);
}

p{
    text-align: center;
   color: rgb(129, 9, 69) ;
}